.sum {background-color: #041e42;}

p {color: #bf0d3e;}

.sum1 {color: #bf0d3e;
    padding: 20px;}
.sum3 {color: #bf0d3e;
    padding: 20px;}

body {background-color: #C4CED3; 
padding: 20px;}

li {color: #042758;}

h4{color: #042758;}

.credits{color: #042758;}